@{
    ViewBag.Title = Navigation.NotActivated;
    @Styles.Render("~/Content/login/css")
}
<div class="container">
    <div class="message-div">
        <h3>Your account has not been activated yet. Please wait until Administrator verifies your request, usually it takes couple of hours.Thank you for your patience!</h3>
    </div>
</div>